/* header styling */
#sub-header {
  margin-top: -10px;
  margin-bottom: 15px;
}

/* data status styling */
#data-status {
  margin-top: 40px;
  margin-bottom: 40px;
}
#data-loading {
    font-size: 30px;
    color: #b8b8b8;
    margin-bottom: 12px;
  }

/* view buttons styling */
#view-btns {
  margin-bottom: 10px;
}

.current-selection {
  background-color: #d4d4d4;
}

/* map select button styling */
.btn-selected {
  font-weight: bold;
  background-color: #e6e6e6;
  outline: none;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
#us-map-select-dropdown {
  margin-top: 3px;
  margin-bottom: 10px;
}

/* map container styling */
.map-container {
  margin-top: 5px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

/* california county map */
.ca-county {
  opacity: .9;
  stroke: #515151;
}
.ca-county:hover {
  opacity: 1;
  stroke-width: 1.5px;
}

/* us county map styling */
.county {
  opacity: .9;
  stroke: #b0b0b0;
  stroke-width: .5px;
}
.county:hover {
  opacity: 1;
  stroke-width: 1px;
}
.state-boundary {
  fill: none;
  stroke: #515151;
  stroke-opacity: 0.5;
}

/* us state map styling */
.state {
  opacity: .9;
  stroke: #515151;
}
.state:hover {
  opacity: 1;
  stroke-width: 1.5px;
}

/* world map styling */
.country {
  opacity: .9;
  stroke: #515151;
}
.country:hover {
  opacity: 1;
  stroke-width: 1.5px;
}

/* footer styling */
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}
.footer-link,
.footer-link:hover,
.footer-link:visited {
  color: #777;
}

/* tooltip styling */
#tooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  z-index: 10000;
  font-family: Arial;
  font-size: 13px;
  text-align: left;
  pointer-events: none;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: alpha(opacity=00);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  -moz-box-shadow: 2px 2px 11px #333;
  -webkit-box-shadow: 2px 2px 11px #333;
}
#tooltip h4 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  background-color: rgba(247,247,247,0.75);
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 1px 5px 0 0;
}
#tooltip p {
  margin: 0;
  padding: 5px 14px;
  text-align: center;
}

/* about modal */
#js-about-modal {
  padding-left: 0px !important;
}

/* small device warning */
#small-device-warning {
  padding: 10px;
  margin-bottom: 7px;
}
#small-device-warning i {
  font-size: 25px;
}
#small-device-warning p {
  margin-bottom: 0px;
}
