/* globals */

/* background image */
/* http://stackoverflow.com/questions/22741143/css-background-stretches-to-fill-height-in-ios-but-there-is-white-space-on-scrol */
#bg-img {
  position: fixed;
  top: 0;
  bottom: -69px;
  width: 100%;
  background: url('../images/thousand_island_lake.jpg') no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header */
header h2 {
  margin-top: -10px;
  margin-bottom: 20px;
}

/* collapse */
.panel {
  background-color: rgba(255,255,255,0.82);
}

/* footer */
footer {
  margin-bottom: 20px;
}
footer p {
  color: #f5f5f5;
  margin-bottom: 2px;
}
.footer-link,
.footer-link:hover,
.footer-link:visited {
  color: #f5f5f5;
}

/* media queries */
@media only screen and (min-width: 768px)  {
  main {
   margin-top: 80px;
  }
  footer {
    margin-top: 40px;
  }
}