/* splash styling */
.splash {
  position: relative;
  padding: 60px 0 60px 0;
  max-height: 800px;
  background: rgb(119, 119, 119) url('../images/muir_rock.jpg') no-repeat top center;
  background-size: cover;
  color: #000;
  width: 100%;
  height: 100%;
}
.texture-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../images/grid.png');
}
#jm-container {
  display: block;
  margin-top: -20px;
}
#jm-signature,
#jm-subtitle {
  fill: #000;
  opacity: 0;
}
#jm-small {
  display: none;
}
#jm-small h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 75px;
}
#jm-small h3 {
  margin-top: 0px;
  font-weight: bold;
}
#down-to-results {
  margin-top: 157px;
}
.down-btn {
  display: none;
  padding: 18px 36px;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  t
}
.down-btn:hover, .down-btn:focus {
  background-color: rgba(255, 255, 255, 0.75);;
  color: #000;
  text-decoration: none;
}
.down-btn i {
  margin-left: 5px;
}
@media screen and (max-width:680px){
  #jm-container {
    display: none;
  }
  #jm-small {
    display: block;
    margin-top: -10px;
  }
  #down-to-results {
    margin-top: 220px;
  }
  .down-btn {
    padding: 18px 18px;
  }
}
@media screen and (max-width:374px){
  #jm-small {
    margin-top: -30px;
  }
  #down-to-results {
    margin-top: 157px;
  }
}